<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", { title, appTitle }) %>
  <body>
    <%- include("../partials/system-status-bar", {
      appTitle,
      systemStatus: typeof systemStatus !== "undefined" ? systemStatus : "Operational",
      currentUserEmail: typeof currentUserEmail !== "undefined" ? currentUserEmail : null,
      currentUserHref: typeof currentUserHref !== "undefined" ? currentUserHref : "/account"
    }) %>

    <%- include("../partials/header", {
      appTitle,
      pageTitle: typeof pageTitle !== "undefined" ? pageTitle : title,
      pageMeta: typeof pageMeta !== "undefined" ? pageMeta : "Operational workspace",
      activeRoleLabel: typeof activeRoleLabel !== "undefined" ? activeRoleLabel : "",
      hintsLabel: typeof hintsLabel !== "undefined" ? hintsLabel : "",
      showRoleSwitch: typeof showRoleSwitch !== "undefined" ? showRoleSwitch : false,
      showExitLink: typeof showExitLink !== "undefined" ? showExitLink : false
    }) %>

    <main class="container">
      <%- body %>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
